nav a {
  color: crimson;
  text-decoration: none;
}
.about blockquote {
  background-color: #eaeaea;
}
.users span {
  font-weight: bold;
}
.users span:nth-child(2) {
  color: crimson;
}
.creators a {
  color: crimson;
}
.creators a:visited {
  color: crimson;
}
.creators a:nth-child(odd) {
  font-family: "Lato";
  text-decoration: none;
}
.creators a:nth-child(even) {
  font-family: "PT Serif";
  font-weight: bold;
  text-decoration: none;
}
#cta {
  font-family: "Lato";
  color: crimson;
}
ul li:nth-child(odd) {
  text-decoration: underline;
}
nav {
  display: inline-block;
  position: relative;
}
nav a {
  text-decoration: none;
}
nav a::after {
  content: " ";
  width: 0%;
  height: 2px;
  background: crimson;
  display: block;
  margin: auto;
  transition: 1s;
}
nav a:hover::after {
  width: 100%;
}
